.everything {
  opacity: 0;
  animation: everything 2s forwards;
  animation-delay: 2.5s;
}

.the {
  animation: movethe 1.5s;
}

.rchitects {
  animation: moverchitects 1.5s;
}

.titleLogo {
  animation: moveTitleLogo 1s forwards;
  animation-delay: 1.5s;
  max-width: 68vw;
  width: 560px;
  position: relative;
}

@keyframes movethe {
  0% {
    transform: translateX(73px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes everything {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moverchitects {
  0% {
    transform: translateX(-190px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes moveTitleLogo {
  0% {
  }
  100% {
    /* max-width: 60vw; */
    /* width: 280px; */
    top: 0;
    left: 0;
  }
}
