.the{
    animation: move 6s alternate;
}

.rchitects{
    animation: mover 6s alternate;
}

.titleLogo{
    height: 106px;
    width: 560px;
}

@keyframes move {
    from {
        transform: translateX(73px);
    }
    to{
        transform: translate(0px)
    }
}

@keyframes mover {
    from {
        transform: translateX(-190);
    }
    to{
        transform: translate(0)
    }
}